#stammdaten {
    width: 70%;
    margin: auto;
    position: fixed;

}

#vertraegeKunde {
    width: 70%;
    margin: auto;
    position: fixed;
}

#dokumente {
    width: 70%;
    margin: auto;
    position: fixed;
}

#beziehungen {
    width: 70%;
    margin: auto;
    position: fixed;
}

.stammdatenContainer {
    display: flex;
    flex-direction: column;
    /* Flexbox-Richtung auf Spalte setzen */
    margin: 50px auto;
    width: 100%;
    border-collapse: collapse;
}

.stammdatenContainer .tables {
    display: flex;
    justify-content: space-between;

    /* Platz zwischen den Tabellen */
    width: 95%;
}

#containerForBtn {
    display: flex;
    justify-content: flex-end;
    /* Korrigiert von 'right' zu 'flex-end' */
    align-items: center;
    margin-top: 5%;
    padding-right: 20px;
    width: 82%;
    /* Breite auf 100% setzen */
    box-sizing: border-box;
    /* Damit Padding und Border in der Breite berücksichtigt werden */
}

button {
    font-size: 15px;
    font-weight: bold;
}

button:first-child {
    margin-right: 30px;
}

.stammdatenContainer table {
    width: fit-content;
    /* Jede Tabelle nimmt etwa die Hälfte des Containers ein */

}
.stammdatenContainer table:first-child,
.stammdatenContainer label {
    font-weight: bold;
}

.stammdatenContainer table,
.stammdatenContainer tr,
.stammdatenContainer td,
.stammdatenContainer select,
.stammdatenContainer input {
    padding: 0;
    margin: 0;
    font-size: large;
    box-sizing: content-box;
}

.stammdatenContainer table,
.stammdatenContainer tr,
.stammdatenContainer td {
    border: none;
}

.stammdatenContainer select,
.stammdatenContainer input {
    padding-left: 5px;
    margin: 5px auto 5px 5px;

}

#anrede,
#plz {
    width: 80px;
}

#titel,
#ort {
    width: 320px;
    margin-left: 5px;
}

#vname,
#nname
{
width: 420px;
}

#geb {
    width: 160px;
}

#sozialvnr {
    width: 240px;
}
#str{
    width: 250px;
}
#hausnr, #tuernr{
    width: 70px;
}
