#stammdaten {
    width: 70%;
    margin: auto;
    position: fixed;

}

#vertraegeKunde {
    width: 70%;
    margin: auto;
    position: fixed;
}

#dokumente {
    width: 70%;
    margin: auto;
    position: fixed;
}

#beziehungen {
    width: 70%;
    margin: auto;
    position: fixed;
}

#stammdaten {
    width: 70%;
    margin: auto;
}

.stammdatenContainer {
    width: 110%;
    margin: 50px auto;
    padding-left: 230px;
}

.stammdatenContainer .tables {
    display: flex;
    justify-content: space-between;
}


#containerForBtn {
    text-align: right;
    width: 110%;
    margin: 50px auto;
    padding-left: 230px;
}

button {
    font-size: 15px;
    font-weight: bold;
}

button:first-child {
    margin-right: 30px;
}

.stammdatenContainer table {
    width: fit-content;
    /* Jede Tabelle nimmt etwa die Hälfte des Containers ein */

}

.stammdatenContainer table:first-child,
.stammdatenContainer label {
    font-weight: bold;

}


.stammdatenContainer table,
.stammdatenContainer tr,
.stammdatenContainer td,
.stammdatenContainer select,
.stammdatenContainer input {
    padding: 0;
    margin: 0;
    font-size: large;
    box-sizing: content-box;
}

.stammdatenContainer table,
.stammdatenContainer tr,
.stammdatenContainer td {
    border: none;
}

.stammdatenContainer select,
.stammdatenContainer input {
    padding-left: 5px;
    margin: 5px auto 5px 5px;


}

#anrede,
#plz {
    width: 80px;
}

#titel,
#ort {
    width: 320px;
    margin-left: 5px;
}

#vname,
#nname {
    width: 420px;
}

#geb {
    width: 160px;
}

#sozialvnr {
    width: 240px;
}

#str {
    width: 250px;
}

#hausnr,
#tuernr {
    width: 70px;
}

#tel1,
#tel2,
#email,
#beruf,
#bank,
#iban,
#bic {
    width: 420px;
}

#containerNotizen {
    width: 110%;
    margin: auto;
    padding-left: 230px;
    
}
label[for="notiz"] {
    font-size: large;
    font-weight: bold;
}

textarea {
    border-radius: 10px;
    width: 100%;
    height: 2000px;
    resize: none;
    padding: 10px;
    height: inherit;
}