* {
    font-family: "PT Sans", sans-serif;

}

body {
    padding-top: var(--navbar-height);
}



:root {
    --navbar-height: 220px;
    /* Definieren Sie eine Variable für die Höhe */
}

.n_top {
    width: 100%;
    height: 230px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

#logo {
    position: fixed;
    top: 10px;
    left: 20px;
    width: 300px;
    height: var(--navbar-height);
    object-fit: contain;
    /* Seitenverhältnis beibehalten */
    margin-right: 30px;
}

.navContainer {
    position: fixed;
    top: 10px;
    left: 360px;
    width: calc(100% - 370px);
    height: var(--navbar-height);
    display: flex;
    align-items: center;
}

.navContainer ul {
    display: flex;
    flex-wrap: wrap;
    /* Erlaubt den Listenelementen, in mehrere Zeilen umzubrechen, wenn der Platz nicht ausreicht */
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.navContainer ul li {
    width: auto;
    /* Setzen Sie die Breite der Listenelemente auf auto, damit sie ihren Inhalt vollständig anzeigen können */
    overflow: hidden;
    /* Verhindert, dass der Text über das Listenelement hinausgeht */
    text-overflow: ellipsis;
    /* Fügt "..." hinzu, wenn der Text abgeschnitten wird */
    white-space: nowrap;
    /* Verhindert, dass der Text umbricht */
}

#navlist {
    display: flex;
    /* Zeigt die Listenelemente nebeneinander an */
    justify-content: flex-start;
    /* Listenelemente beginnen auf der linken Seite */
    align-items: center;
    /* Zentriert die Listenelemente vertikal */
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(156, 4, 51, 1) 100%);
    border-radius: 10px;
    list-style-type: none;
    overflow: hidden;
    height: 60px;
    width: calc(100% - 130px);
    padding-left: 0px;
}

#navlist a {
    color: #241c23;
    font-weight: bold;
    font-size: 17px;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

#navlist li {
    float: left;
    margin-right: 10px;

}


#navlist a:hover {
    background-color: #cc728c;
    border-radius: 10px;
}


.tab {
    display: none;
}
.tab.active {
    display: block;
}
.tab-buttons {
    display: flex;
    justify-content: space-around;
    background-color: #f1f1f1;
    padding: 10px;
}
.tab-buttons button {
    background-color: #ddd;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
.tab-buttons button.active {
    background-color: #ccc;
}

.pt-sans-regular {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.pt-sans-bold {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.pt-sans-regular-italic {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.pt-sans-bold-italic {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-style: italic;
}


.welcome {
    display: block;
    text-align: center;
    margin: 0px;
    padding-right: 30px;
    padding-top: 10px;
    font-size: 20px;




}

.welcome h1 {
    margin: 0px;
    padding: 0px;

}

.addCustomer {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 50%;
    margin: auto;
   }

.addCustomer button {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    margin-left: 50px;
}

.addCustomer button span {
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;

}

.suchcontainer {
    width: 50%;
    margin: auto;
}

.suchcontainer p {
    margin-top: 5px;
}



.eingabefeld {
    float: left;
    margin: 0px;
    padding-right: 15px;
    margin-bottom: 30px;

}

.eingabefeld input {
    border-radius: 10px;
    border: 1px solid black;
    height: 30px;
    padding-inline-start: 10px;
}

.eingabefeld select {
    border-radius: 10px;
    border: 1px solid black;
    height: 30px;
    padding-inline-start: 10px;
}

hr {

    clear: both;
    width: 80%;
    margin: 30px auto;
    color: #241c23;


}

button {
    border-radius: 10px;
    border: 1px solid #241c23;
    background-color: white;
    color: #241c23;
    padding: 7px 30px;
    transition-duration: 0.3s;
}

button:hover {
    background-color: #241c23;
    color: white;
}

#kundentabelle {
    display: block;
    margin: 50px auto;
    /* Zentriert die Tabelle horizontal */
    width: 80%;
    /* Breite der Tabelle (kann angepasst werden) */
    border-collapse: collapse;
    visibility: hidden;


}

table,
th,
td {

    border-collapse: collapse;

}

th,
td {
    padding: 10px;
    border: 1px solid black;
    text-align: left;
    padding: 8px;
    width: 250px;
}

#tabellenContainer {}

.kundenansicht {
    border: none;
}

#titelAddCustomer {
    margin-left: 330px;
    width: 72%;
    visibility: hidden;
}



.tableRow a {
    color: inherit;
    text-decoration: none;
    /* Entfernt die Unterstreichung */
}

.tableRow:hover {
    background-color: #241c23;
    color: white;
}